<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0 EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
 		<setting name="jdbcTypeForNull" value="NULL"/> 
 	</settings>
 	
 	<typeAliases>
 		<typeAlias type="com.codeusgroup.codeus.member.model.vo.Member" alias="Member"/>
 		<typeAlias type="com.codeusgroup.codeus.admin.model.vo.Department" alias="Department"/>
 		<typeAlias type="com.codeusgroup.codeus.admin.model.vo.Job" alias="Job"/>
		<typeAlias type="com.codeusgroup.codeus.calendar.model.vo.Calendar" alias="Calendar"/>
	  	<typeAlias type="com.codeusgroup.codeus.annualLeave.model.vo.AnnualLeave" alias="AnnualLeave"/>
		<typeAlias type="com.codeusgroup.codeus.empStatus.model.vo.EmpStatus" alias="EmpStatus"/>
	  	<typeAlias type="com.codeusgroup.codeus.leaveRecode.model.vo.LeaveRecode" alias="LeaveRecode"/>
		<typeAlias type="com.codeusgroup.codeus.commBoard.model.vo.CommBoard" alias="Board"/>
		<typeAlias type="com.codeusgroup.codeus.commBoard.model.vo.Reply" alias="Reply"/>
 		<typeAlias type="com.codeusgroup.codeus.commBoard.model.vo.Report" alias="Report"/>
 		<typeAlias type="com.codeusgroup.codeus.calendar.model.vo.CalArrTemp" alias="CalArrTemp"/>
        <typeAlias type="com.codeusgroup.codeus.meetingResrv.model.vo.MeetingResrv" alias="MeetingResrv"/>
        <typeAlias type="com.codeusgroup.codeus.chetting.model.vo.Chetting" alias="Chetting"/>
        <typeAlias type="com.codeusgroup.codeus.meetingResrv.model.vo.MeetingRoom" alias="MeetingRoom"/>
        <typeAlias type="com.codeusgroup.codeus.noticeBoard.model.vo.NoticeBoard" alias="NoticeBoard"/>
 		<typeAlias type="com.codeusgroup.codeus.noticeBoard.model.vo.NoticeBoardReply" alias="NoticeBoardReply"/>
 		<typeAlias type="com.codeusgroup.codeus.noticeBoard.model.vo.NoticeBoardFile" alias="NoticeBoardFile"/>        
 	</typeAliases>
 	
 	<mappers>
 		<mapper resource="mappers/member-mapper.xml"/>
 		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/address-mapper.xml"/>
 		<mapper resource="mappers/chetting-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
	  	<mapper resource="mappers/empStatus-mapper.xml"/>
		<mapper resource="mappers/annualLeave-mapper.xml"/>
		<mapper resource="mappers/leaveRecode-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
        <mapper resource="mappers/meet-mapper.xml"/>
        <mapper resource="mappers/meetRoom-mapper.xml"/>
        <mapper resource="mappers/noticeBoard-mapper.xml"/>
 	</mappers>
 	
</configuration>