<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addressMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from member
		where m_status = '0'
	</select>
	
	<select id="selectMemberList" resultMap="memberResultSet">
		select *
		from member
		where m_status = '0' and m_manager_yn = 'N'
	</select>
	
	<resultMap type="Member" id="memberResultSet">
		<id column="M_ID" property="mId" />
		<result column="M_PWD" property="mPwd"/>
		<result column="M_NAME" property="mName"/>
		<result column="M_BIRTH_DATE" property="birthDate"/>
		<result column="M_EMAIL" property="email"/>
		<result column="M_PHONE" property="phone"/>
		<result column="M_ADDRESS" property="address"/>
		<result column="M_PROFILE" property="profile"/>
		<result column="M_IMG_ORIGIN_NAME" property="imgOriginName"/>
		<result column="M_IMG_CHANGE_NAME" property="imgChangeName"/>
		<result column="M_ENROLL_DATE" property="enrollDate"/>
		<result column="M_UPDATE_DATE" property="updateDate"/>
		<result column="M_HIRE_DATE" property="hireDate"/>
		<result column="M_END_DATE" property="endDate"/>
		<result column="M_STATUS" property="status"/>
		<result column="M_MANAGER_YN" property="managerYn"/>
		<result column="JOB_NAME" property="jobName"/>
		<result column="DEPT_ID" property="deptId"/>
		<result column="DEPT_NAME" property="deptName"/>
	</resultMap>
	
	<select id="searchMemebrList" resultMap="memberResultSet">
		select *
		from member
		where m_status = '0'
		<choose>
			<when test="field == 'name'">
				and m_name like '%' || #{input} || '%'
			</when>
			<when test="field == 'job'">
				and job_name like '%' || #{input} || '%'
			</when>
			<otherwise>
				and dept_name like '%' || #{input} || '%'
			</otherwise>
		</choose>
	</select>
	
	<insert id="addAddress">
		insert into address
		values(addr_seq.nextval, #{mId}, #{userId})
	</insert>
	
	<select id="selectMyList" resultMap="memberResultSet">
		select *
		from member
		where m_id in (
			select addr_m_id
			from address
			where m_id = #{userId}
			)
	</select>
	
	<delete id="minusAddress">
		delete address from addr_m_id = #{mId}
	</delete>
	
	
</mapper>
