<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS = '0'
	</select>
	
	<select id="selectBoard" resultMap="boardResultSet">
		SELECT B_NUM, B_TYPE, B_TITLE, B_VIEWS, B_CREARE_DATE, B_MODIFY_DATE, B_STATUS,
			   B.M_ID M_ID
		FROM BOARD B
		 		LEFT JOIN MEMBER M ON(B.M_ID = M.M_ID)
		WHERE B_NUM = #{bId} AND B_STATUS = '0'
		ORDER BY B_NUM DESC
	</select>
	
	
	<select id="CommBoardSelectList" resultMap="boardResultSet">
		SELECT B_NUM, B_TYPE, B_TITLE, B_VIEWS, B_CREARE_DATE, B_MODIFY_DATE, B_STATUS, 
			   B_PIN, B.M_ID M_ID
		FROM BOARD B
			LEFT JOIN MEMBER M ON(B.M_ID = M.M_ID)
		WHERE B_TYPE = '자유' AND B_STATUS = '0'
		ORDER BY B_NUM DESC 
	</select>
	
	<select id="commsearchListCount" resultType="_int" parameterType="Search">
		<bind name="value" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT COUNT(*)
		FROM BOARD
			LEFT JOIN MEMBER USING(M_ID)
		<where>
			B_STATUS = '0'
			AND B_TYPE = '자유'
		</where>
			<choose>
				<when test="searchCondition == 'bTitle'">
					AND B_TITLE LIKE #{value}
				</when>
				<when test="searchCondition == 'bContent'">
					AND B_CONTENT LIKE #{value}
				</when>
				<otherwise>
					AND (B_TITLE LIKE #{value}
						OR B_CONTENT LIKE #{value})
				</otherwise>
			</choose>
	</select>
	
	<!-- 자유게시글 검색 -->
	<select id="commSearchList" parameterType="Search" resultMap="boardResultSet">
		<bind name="value" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT B_NUM, B_TYPE, B_TITLE, B_VIEWS, B_CREARE_DATE, B_MODIFY_DATE, B_STATUS, 
			   B_PIN, B.M_ID M_ID
		FROM BOARD B
			LEFT JOIN MEMBER M ON(B.M_ID = M.M_ID)
		<where>
			B_STATUS = '0'
			AND B_TYPE = '자유'
			<choose>
				<when test="searchCondition == 'bTitle'">
					AND B_TITLE LIKE #{value}
				</when>
				<when test="searchCondition == 'bContent'">
					AND B_CONTENT LIKE #{value}
				</when>
				<otherwise>
					AND (B_TITLE LIKE #{value}
						OR B_CONTENT LIKE #{value})
				</otherwise>
			</choose>
		</where>
		ORDER BY B_NUM DESC
	</select>
	
	<resultMap type="Board" id="boardResultSet">
		<id property="bId" column="B_NUM"/>
		<result property="bType" column="B_TYPE"/>
		<result property="bTitle" column="B_TITLE"/>
		<result property="bContent" column="B_CONTENT"/>
		<result property="bViews" column="B_VIEWS"/>
		<result property="originalFileName" column="FILE_ORIGIN_NAME"/>
		<result property="renameFileName" column="FILE__CHANGE_NAME"/>
		<result property="bCreateDate" column="B_CREARE_DATE"/>
		<result property="bModifyDate" column="B_MODIFY_DATE"/>
		<result property="bStatus" column="B_STATUS"/>
		<result property="bPin" column="B_PIN"/>
		<result property="bWriter" column="M_ID"/>
		<result property="reply_count" column="B_ETC"/>
	</resultMap>
	
	
	<!-- 자유게시글 등록 -->
	<insert id="insertcommBoard" parameterType="Board">

	INSERT INTO BOARD 
		VALUES(SEQ_B_NUM.nextval,'자유',#{bTitle},#{bContent,jdbcType=CLOB},0,SYSDATE, SYSDATE, DEFAULT, DEFAULT, #{bWriter},null,null)
								 				 
	</insert>
	
	<update id="addReadCount">
		UPDATE BOARD SET B_VIEWS = B_VIEWS + 1
		WHERE B_NUM = #{bId}
	</update>
	
	
	<!-- 자유게시글 삭제 -->
	<update id="CommBoardDelete">
		UPDATE BOARD SET B_STATUS = '1'
		WHERE B_NUM = #{bId}
	</update>
	
	<update id="commUpdateBoard">
		UPDATE BOARD 
		SET B_TITLE = #{bTitle}, B_CONTENT = #{bContent}, B_MODIFY_DATE = SYSDATE
		WHERE B_NUM = #{bId}
	</update>
	
	
	
	<!-- 게시글-->
	
	<select id="selectPostReport" resultMap="ReportResultMap">
 		SELECT * FROM REPORT WHERE B_NUM = #{bId} AND REPORT_CATEGORY = '게시글' 
 	</select>
  	
  	<select id="selectPostReportCount" resultType="_int">
  		SELECT COUNT(*)FROM BOARD B JOIN REPORT BR ON B.B_NUM = BR.B_NUM WHERE REPORT_CATEGORY = '게시글' 
  		
  	</select>
  	
  	<insert id="insertPostReport">
  		INSERT INTO REPORT 
  		VALUES(SEQ_REPORT_NO.NEXTVAL,#{reportType},'게시글',SYSDATE,DEFAULT,#{mId},#{bId},null)
  	</insert>

	
	<!-- 댓글  -->
	
	
	<resultMap type="Reply" id="replyResultSet">
		<id property="rId" column="REPLY_NO"/>
		<result property="rContent" column="REPLY_CONTENT"/>
		<result property="rCreateDate" column="REPLY_CREATE_DATE"/>
		<result property="rModifyDate" column="REPLY_MODIFY_DATE"/>
		<result property="rStatus" column="REPLY_STATUS"/>
		<result property="refBid" column="B_NUM"/>
		<result property="rWriter" column="M_ID"/>
	</resultMap>
	
	

  	<resultMap type="Report" id="ReportResultMap">
  		<id property="reportId" column="REPORT_NO"/>
  		<result property="reportType" column="REPORT_TYPE"/>
  		<result property="reportCategory" column="REPORT_CATEGORY"/>
  		<result property="reportDate" column="REPORT_DATE"/>
  		<result property="reportStatus" column="REPORT_STATUS"/>
  		<result property="mId" column="M_ID"/>
  		<result property="bId" column="B_NUM"/>
  		<result property="rId" column="REPLY_NO"/>
  	</resultMap>
	
	
	<insert id="addReply">
		INSERT INTO REPLY 
		VALUES(SEQ_REPLY_NO.NEXTVAL, #{rContent},SYSDATE,SYSDATE,DEFAULT,#{refBid},#{rWriter},NULL)
	</insert>
	
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT REPLY_NO, REPLY_CONTENT, REPLY_CREATE_DATE, REPLY_MODIFY_DATE, REPLY_STATUS,
		       M_ID
		FROM REPLY 
		     LEFT JOIN MEMBER USING(M_ID)
		     LEFT JOIN JOB USING(JOB_ID)
		WHERE B_NUM = #{refBid} AND REPLY_STATUS = '0'
		ORDER BY REPLY_NO DESC
	</select>


	<update id="deleteReply">
  		UPDATE 
  		REPLY SET REPLY_STATUS = '1' 
  		WHERE B_NUM = #{refBid} AND REPLY_NO = #{rId}
  		
  	</update>
  	
  	
  	<update id="updateReply" parameterType="Reply">
  		UPDATE reply  
  		SET REPLY_CONTENT = #{rContent}, REPLY_CREATE_DATE = SYSDATE
  		WHERE B_NUM = #{refBid}  AND REPLY_NO = #{rId} AND REPLY_STATUS = '0' 
 
  	</update>
  	
  	
  	<select id="selectReplyReport" resultMap="ReportResultMap">
  		SELECT * FROM REPORT WHERE REPLY_NO = #{rId}
  	</select>
  	
  	
  	<select id="selectReplyReporCount" resultType="_int">
  		SELECT COUNT(*)FROM REPLY R JOIN REPORT RR ON R.REPLY_NO = RR.REPLY_NO
  	</select>
  	
  	
  	<insert id="insertReplyReport">
  		INSERT INTO REPORT 
  		VALUES(SEQ_REPORT_NO.NEXTVAL,'A','댓글',SYSDATE,DEFAULT,#{mId},#{bId},#{rId})
  	</insert>
  	

	
</mapper>
