<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	<select id="selectCalList" parameterType="String" resultMap="calendarResultSet">
		select SCHE_NO, M_ID, SCHE_TITLE
		from calendar
		where M_ID = #{mId}
		order by SCHE_NO       
	</select>

	<select id="selectSchList" parameterType="CalArrTemp" resultMap="calendarResultSet">
		SELECT *
		from CALENDAR 
		where M_ID = #{mId}
			<if test="calNoArr != null">
				AND SCHE_NO IN
				<foreach collection="calNoArr" index="i" open="(" separator="," close=")">
					${calNoArr[i]}
				</foreach>
	    	</if>
	</select>
	
	<select id="selectNoCalSchList" parameterType="CalArrTemp" resultMap="calendarResultSet">
		select SCHE_NO, M_ID, SCHE_TITLE, SCHE_START_DATE, SCHE_END_DATE, SCHE_CONTENT
		from calendar S
		where M_ID != #{mId} 
			<if test="noInvitecalArr.length != 0">
				<foreach collection="noInvitecalArr" index="index" separator=" ">
		    		and SCHE_NO != ${noInvitecalArr[index]}
		    	</foreach>
	    	</if>
	</select>
	<resultMap type="Calendar" id="calendarResultSet">
		<id column="SCHE_NO" property="scheNo"/>
		<result column="SCHE_TYPE" property="scheType"/>
		<result column="SCHE_TITLE" property="scheTitle"/>
		<result column="SCHE_CONTENT" property="scheContent"/>
		<result column="SCHE_REGI_DATE" property="scheRegiDate"/>
		<result column="SCHE_START_DATE" property="scheStartDate"/>
		<result column="SCHE_END_DATE" property="scheEndDate"/>
		<result column="ALLDAY_YN" property="allDayYn"/>
		<result column="SCHE_STATUS" property="scheStatus"/>
		<result column="M_ID" property="mId"/>
	</resultMap>
	<insert id="insertCal">
		INSERT INTO CALENDAR VALUES(SEQ_SCHE_NO.NEXTVAL, default, #{scheTitle}, #{scheContent}, DEFAULT, 
                            SYSDATE, SYSDATE,
                            DEFAULT, DEFAULT, #{mId})
		 
	</insert>
	<select id="scheNo" resultMap="calendarResultSet">
		select SEQ_SCHE_NO.nextval as seq
		from dual
	</select>
	<insert id="addModalSch">
		<selectKey keyProperty="seq_sche_no.nextval" resultType="int" order="BEFORE">
	    	select SEQ_SCHE_NO.nextval from dual
	    </selectKey>
		INSERT INTO CALENDAR VALUES(seq_sche_no.nextval, 'B', #{title}, #{content}, default, 
                            TO_TIMESTAMP(#{startday}, 'YYYY-MM-DD HH24:MI:SS'), TO_TIMESTAMP(#{endday}, 'YYYY-MM-DD HH24:MI:SS'), 
                            'B', DEFAULT, #{mId})
	</insert>
</mapper>
