<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="leaveRecodeMapper">
	<select id="selectLeaveRecode" resultMap="lrResultSet">
		<![CDATA[
		select *
		from(
		    select *
		    from leave_recode
		    where m_id = #{id}
		    order by enroll_date desc
		)
		where rownum <= 3
		]]>
	</select>

	<resultMap type="LeaveRecode" id="lrResultSet">
		<id column="M_ID" property="mId"/>
		<!-- <id column="LEAVE_USE_DATE" property="leaveUseDate"/> -->
		<result column="LEAVE_REASON" property="leaveReason"/>
		<result column="LEAVE_TYPE" property="leaveType"/>
		<result column="LEAVE_STATUS" property="leaveStatus"/>	
		<result column="totalLeave" property="totalLeave"/>	
		<result column="usedLeave" property="usedLeave"/>	
		<result column="restLeveCount" property="restLeveCount"/>
	<!-- 	<collection property="AnnualLeave" resultMap="AnnualLeave"></collection>	 -->
		
	</resultMap>
	
	<resultMap type="AnnualLeave" id="AnnualLeave">
		<id column="ANNUAL_NO" property="annualNo"/><!-- 기본키 -->
	 	<result column="ANNUAL_COUNT" property="annualCount"/><!-- 일반컬럼 -->
	 	<result column="ANNUAL_TYPE" property="annualType"/>
	 	<result column="ANNUAL_REGI_DATE" property="annualRegiDate"/>
	 	<result column="M_ID" property="mId"/>
	</resultMap>
	<resultMap type="LeaveRecode" id="LeaveRecodeResultSet">
		<id column="LEAVE_USE_DATE" property="leaveUseDate" />
		<id column="M_ID" property="mId"/>
		<result column="LEAVE_REASON" property="leaveReason"/>
		<result column="LEAVE_TYPE" property="leaveType"/>
		<result column="LEAVE_STATUS" property="leaveStatus"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="form_name" property="formName"/>
		<result column="leave_name" property="leaveName"/>
		<result column="leave_num" property="leaveNum"/>
		<result column="usedLeave" property="usedLeave"/>
		
	
	</resultMap>
	
	
	
  	<select id="selectLrCount" parameterType="string" resultType="_int">
  
	<![CDATA[
		select count(*) usedLeave
        from leave_recode 
        where m_id = #{id}
              and leave_status = '승인'
              and leave_use_date <= sysdate
	]]> 
  	</select>
  	<select id="selectUsedCount" parameterType="string" resultMap="lrResultSet">
 
		select sum((LEAVE_END_DATE-LEAVE_START_DATE+1)) usedLeave
		from leave_recode    
		where m_id = #{id}
		    and LEAVE_STATUS = 2
		 group by m_id 
  	</select>
  	<!-- annualLeaveMain에 최신 3개글만 조회되게 하기 -->
	<select id="selectAnnualList" resultMap="LeaveRecodeResultSet"> 
	<![CDATA[
		select LEAVE_NUM,DOC_NAME leave_name, LEAVE_STATUS, ENROLL_DATE,LEAVE_REASON, LEAVE_TYPE, form_name        
		 from       
			 (select LEAVE_NUM,DOC_NAME, LEAVE_START_DATE, LEAVE_END_DATE, LEAVE_STATUS, ENROLL_DATE,LEAVE_REASON, LEAVE_TYPE, form_name
			 from leave_recode
			    left join document d on (LEAVE_NUM=DOC_NUM)
			    left join document_form df on (d.form_num = df.form_num)
			where m_id = #{id}
			order by leave_num desc)
		where rownum <= 3
	]]>	
	</select>
	<select id="getAnnualListCount" resultType="_int">
		select count(*)
		from leave_recode
		where M_ID = #{id}
	
	</select>
	<!-- 페이징처리하여 게시글 불러오기 -->
	<select id="getSelectAnnualList" resultMap="LeaveRecodeResultSet">
		select LEAVE_NUM,DOC_NAME leave_name, LEAVE_STATUS, ENROLL_DATE,LEAVE_REASON, LEAVE_TYPE, form_name        
		 from       
			 (select LEAVE_NUM,DOC_NAME, LEAVE_START_DATE, LEAVE_END_DATE, LEAVE_STATUS, ENROLL_DATE,LEAVE_REASON, LEAVE_TYPE, form_name
			 from leave_recode
			    left join document d on (LEAVE_NUM=DOC_NUM)
			    left join document_form df on (d.form_num = df.form_num)
			where m_id = #{id}
			order by leave_num desc)	
	</select>
	<select id="getAnnualSearchResultListCount" resultType="_int">
		select count(*)
		from leave_recode
			left join document on (LEAVE_NUM=DOC_NUM)
		where M_ID = #{id}
		<if test="condition == 'status'">
			and LEAVE_STATUS=to_number(#{value})
		</if>
		<if test="condition == 'title'">
			and DOC_NAME like '%' || #{value} || '%'
		</if>
		<if test="condition == 'content'">
			 and LEAVE_REASON like '%' ||#{value} || '%'
		</if>	  
	</select>
	<select id="selectSearchAnnualResultList" resultMap="LeaveRecodeResultSet">
		select LEAVE_NUM,DOC_NAME leave_name, LEAVE_STATUS, ENROLL_DATE,LEAVE_REASON, LEAVE_TYPE, form_name        
		 from       
			 (select LEAVE_NUM,DOC_NAME, LEAVE_START_DATE, LEAVE_END_DATE, LEAVE_STATUS, ENROLL_DATE,LEAVE_REASON, LEAVE_TYPE, form_name
			 from leave_recode
			    left join document d on (LEAVE_NUM=DOC_NUM)
			    left join document_form df on (d.form_num = df.form_num)
			where m_id = #{id}			
		<choose>
			<when test="condition == 'status'">
				and LEAVE_STATUS=to_number(#{value})
			</when>
			<when test="condition == 'title'">
				and DOC_NAME like '%' || #{value} || '%'
			</when>
			<otherwise>
				 and LEAVE_REASON like '%' ||#{value} || '%'
			</otherwise>
		</choose>
		order by leave_num desc
	</select>
  
  
</mapper>
