<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="marketMapper">
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS = '0'
	</select>
	
	<select id="selectMarketBoard" resultMap="marketboardResultSet">
		SELECT * 
		FROM BOARD
		WHERE B_NUM = #{bId} AND B_STATUS = '0'
	</select>
	
	
	<update id="addReadCount">
		UPDATE BOARD 
		SET B_views = B_views + 1
		WHERE B_NUM = #{bId}
	</update>
	
	
	<select id="marketBoardSelectList" resultMap="marketboardResultSet">
		SELECT *
		FROM board
		WHERE B_TYPE = '중고' AND B_STATUS = '0'
		ORDER BY B_NUM DESC 
	</select>
	
	
	<insert id="insertScrap">
		insert into scrap values(#{mbWriter}, #{bId}, default)
	</insert>
	
	<delete id="deleteScrap">
		delete from scrap
		where b_Num = #{bId} and m_Id = #{mbWriter}
		
	</delete>
	
	
	<select id="getScrapStatus" resultType="_int">
		select count(*)
		from scrap
		where b_Num = #{bId} and m_Id = #{mbWriter}
	</select>
	
	

	
	<resultMap type="MarketBoard" id="marketboardResultSet">
		<id property="bId" column="B_NUM"/>
		<result property="mbType" column="B_TYPE"/>
		<result property="mbTitle" column="B_TITLE"/>
		<result property="mbContent" column="B_CONTENT"/>
		<result property="mbViews" column="B_VIEWS"/>
		<result property="originalFileName" column="FILE_ORIGIN_NAME"/>
		<result property="renameFileName" column="FILE__CHANGE_NAME"/>
		<result property="mbCreateDate" column="B_CREARE_DATE"/>
		<result property="mbModifyDate" column="B_MODIFY_DATE"/>
		<result property="mbStatus" column="B_STATUS"/>
		<result property="mbPin" column="B_PIN"/>
		<result property="mbWriter" column="M_ID"/>
		<result property="mbCategory" column="B_CATEGORY"/>
		<result property="marketPrice" column="B_ETC"/>
		
	</resultMap>
	

	<select id="selectAttachmentList" parameterType="_int" resultMap="marketAttResultSet">
		SELECT * FROM ATTACHMENT WHERE B_NUM = #{bId}
	</select>
	
	
	<update id="addReadViews">
		UPDATE BOARD SET B_VIEWS = B_VIEWS + 1
		WHERE B_NUM = #{bId}
	</update>
	
	
	<update id="updateMarketBoard">
		UPDATE BOARD 
		SET B_TITLE = #{mbTitle}, B_CONTENT = #{mbContent}, B_MODIFY_DATE = SYSDATE
		<if test="originalFileName != null">
				, ORIGINAL_FILENAME = #{originalFileName}, RENAME_FILENAME = #{renameFileName}
			</if>
		WHERE B_NUM = #{bId}
	</update>
	
	<update id="deleteBoard">
		UPDATE BOARD SET B_STATUS = '1'
		WHERE B_NUM = #{bId}
	</update>
	
	<update id="deleteimage">
		UPDATE BOARD SET FILE_STATUS = '1'
		WHERE FILE_NO = #{filesNo}
	</update>
	
	<!-- 마켓 게시판 -->
	
	
	<!-- 게시글 등록 -->
	<insert  id = 'insertMarketBoard' parameterType="MarketBoard">
		INSERT INTO BOARD VALUES(SEQ_B_NUM.nextval,'중고',#{mbTitle},#{mbContent,jdbcType=CLOB},0,SYSDATE,SYSDATE,DEFAULT,DEFAULT,#{mbWriter},#{marketPrice},#{mbCategory})
	</insert>	
	
	<insert  id ='saveimage' parameterType="MarketAtt">
	INSERT INTO ATTACHMENT
	VALUES (SEQ_FILE_NO.NEXTVAL,#{path},SYSDATE,#{oriFileName}, #{reFileName},DEFAULT, DEFAULT,'MARKET',SEQ_B_NUM.currval,DEFAULT)
	</insert>
	 <resultMap type="MarketAtt" id="marketAttResultSet" >
		<result property="fileNo" column="FILE_NO"/>
		<result property="bId" column="B_NUM"/>
		<result property="path" column="FILE_PATH"/>
		<result property="oriFileName" column="FILE_ORIGIN_NAME"/>
		<result property="reFileName" column="FILE_CHANGE_NAME"/>
		<result property="fStatus" column="FILE_STATUS"/>
	</resultMap>
	
	
	<select id="marketSearchListCount" resultType="_int" parameterType="Search">
		<bind name="value" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT COUNT(*)
		FROM BOARD
		<where>
			B_STATUS = '0'
			AND B_TYPE = '중고'
		</where>
			<choose>
				<when test="searchCondition == 'bTitle'">
					AND B_TITLE LIKE #{value}
				</when>
				<when test="searchCondition == 'bContent'">
					AND B_CONTENT LIKE #{value}
				</when>
				<otherwise>
					AND (B_TITLE LIKE #{value}
						OR B_CONTENT LIKE #{value})
				</otherwise>
			</choose>
	</select>
	
	<!-- 자유게시글 검색 -->
	<select id="marketSearchList" parameterType="Search" resultMap="marketboardResultSet">
		<bind name="value" value="'%' + _parameter.getSearchValue() + '%'"/>
		SELECT *
		FROM BOARD
		<where>
			B_STATUS = '0'
			AND B_TYPE = '중고'
			<choose>
				<when test="searchCondition == 'bTitle'">
					AND B_TITLE LIKE #{value}
				</when>
				<when test="searchCondition == 'bContent'">
					AND B_CONTENT LIKE #{value}
				</when>
				<otherwise>
					AND (B_TITLE LIKE #{value}
						OR B_CONTENT LIKE #{value})
				</otherwise>
			</choose>
		</where>
		ORDER BY B_NUM DESC
	</select>
	
	
	
	<select id="getListOptionCount" resultType="_int">
		select count(*)
		from BOARD
		<where>
		B_STATUS = '0'
		AND B_TYPE = '중고'
		<choose>
			<when test="option == '최신순'">
			order by B_CREARE_DATE desc
			</when>
		<when test="option == '낮은가격순'">
			order by B_ETC
		</when>
		<when test="option == '높은가격순'">
			order by B_ETC desc
		</when>
			</choose>
		</where>
		ORDER BY B_NUM DESC
	</select>
	
	<select id="selectOptionPList" resultMap="marketboardResultSet">
		select * 
		from BOARD
		 <where>
		B_STATUS = '0'
		AND B_TYPE = '중고'
		<choose>
			<when test="option == '최신순'">
			order by B_CREARE_DATE desc
			</when>
		<when test="option == '낮은가격순'">
			order by B_ETC
		</when>
		<when test="option == '높은가격순'">
			order by B_ETC desc
		</when>
			</choose>
		</where>
		ORDER BY B_NUM DESC
	</select>

</mapper>
