<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="meetResrvMapper">

    <select id="getListCount" resultType="_int">
        select count(*)
        from meet_reservation
    </select>
    
    <select id="selectList" resultMap="meetResrvResultSet">
        select rev_no, rev_date, rev_start_time, rev_end_time, rev_content,
               rev_status, rev_apply_date, meet_no, m_id, meet_name, m_name
        from meet_reservation
             left join member using(m_id)
             left join meeting_room using(meet_no)
        order by rev_date desc, rev_start_time
    </select>
    
    <resultMap type="MeetingResrv" id="meetResrvResultSet">
        <id column="REV_NO" property="rev_no"/>
        <result column="REV_DATE" property="rev_date"/>
        <result column="REV_START_TIME" property="rev_start_time"/>
        <result column="REV_END_TIME" property="rev_end_time"/>
        <result column="REV_CONTENT" property="rev_content"/>
        <result column="REV_STATUS" property="rev_status"/>
        <result column="REV_APPLY_DATE" property="rev_apply_date"/>
        <result column="REV_APPLY_DATE" property="rev_apply_date"/>
        <result column="REV_APPLY_DATE" property="rev_apply_date"/>
        <result column="MEET_NO" property="meet_no"/>
        <result column="M_ID" property="mId"/>
        <result column="MEET_NAME" property="meet_name"/>
        <result column="M_NAME" property="mName"/>
    </resultMap>
    
    <select id="getMyListCount" resultType="_int">
        select count(*)
        from meet_reservation
        where m_id = #{mId}
    </select>
    
    <select id="selectMyList" resultMap="meetResrvResultSet">
        select rev_no, rev_date, rev_start_time, rev_end_time, rev_content,
               rev_status, rev_apply_date, meet_no, m_id, meet_name, m_name
        from meet_reservation
             left join member using(m_id)
             left join meeting_room using(meet_no)
        where m_id = #{mId}
        order by rev_date desc, rev_start_time
    </select>
    
    <insert id="insertMeetResrv">
        insert into meet_reservation
        values(seq_rev_no.nextval, #{rev_date}, #{rev_start_time}, #{rev_end_time},
               #{rev_content}, default, default, #{meet_no}, #{mId})
    </insert>
    
    <!-- 선택 가능한 회의실 조회하기 -->
    <!-- 입력한 날짜/시간을 조건으로 불가능한 회의실(이미 예약된)은 제외하고 리턴 -->
    <select id="selectRoomList" resultMap="meetRoomResultSet">
        <![CDATA[
        select *
        from meeting_room
        where meet_no in (select meet_no
                          from meeting_room
                          where meet_status <> '1'
                                and meet_no not in (select meet_no
                                                    from meet_reservation
                                                    where rev_status = '0'
                                                          and to_char(rev_date, 'YYYY-MM-DD') = to_char(#{inputDate}, 'YYYY-MM-DD')
                                                          and rev_start_time <= #{inputStartTime}
                                                          and rev_end_time > #{inputStartTime}
                                                    union
                                                    select meet_no
                                                    from meet_reservation
                                                    where rev_status = '0'
                                                          and to_char(rev_date, 'YYYY-MM-DD') = to_char(#{inputDate}, 'YYYY-MM-DD')
                                                          and rev_start_time < #{inputEndTime}
                                                          and rev_end_time >= #{inputEndTime}
                                                    union
                                                    select meet_no
                                                    from meet_reservation
                                                    where rev_status = '0'
                                                          and to_char(rev_date, 'YYYY-MM-DD') = to_char(#{inputDate}, 'YYYY-MM-DD')
                                                          and rev_start_time > #{inputStartTime}
                                                          and rev_end_time < #{inputEndTime}))
        order by meet_name
        ]]>
    </select>
    
    <resultMap type="MeetingRoom" id="meetRoomResultSet">
        <id column="MEET_NO" property="meet_no"/>
        <result column="MEET_NAME" property="meet_name"/>
        <result column="MEET_INFO" property="meet_info"/>
        <result column="MEET_REGI_DATE" property="meet_regi_date"/>
        <result column="MEET_UPDATE_DATE" property="meet_update_date"/>
        <result column="MEET_STATUS" property="meet_status"/>
        <result column="IMG_ORIGIN_NAME" property="img_origin_name"/>
        <result column="IMG_CHANGE_NAME" property="img_change_name"/>
    </resultMap>
    
    <update id="autoUpdate">
        <![CDATA[
        update meet_reservation
        set rev_status = '1'
        where rev_end_time <= #{tNow}
        ]]>
    </update>
    
    <select id="searchListCount" resultType="_int">
        select count(*)
        from meet_reservation
        <if test="mId == NULL">
            <where>
                <choose>
                    <when test="searchCondition == 'r_no1'">
                        and rev_no like '%' || #{searchKeyword} || '%'
                    </when>
                    <when test="searchCondition == 'r_date1'">
                        and rev_date = #{searchKeyword}
                    </when>
                    <when test="searchCondition == 'r_status1'">
                        and rev_status = #{searchKeyword}
                    </when>
                    <when test="searchCondition == 'r_meetName1'">
                        and meet_no in (select meet_no
                                        from meeting_room
                                        where meet_name like '%' || #{searchKeyword} || '%')
                    </when>
                    <when test="searchCondition == 'r_mName1'">
                        and m_id in (select m_id
                                     from member
                                     where m_name = #{searchKeyword})
                    </when>
                    <when test="searchCondition == 'r_content1'">
                        and rev_content like '%' || #{searchKeyword} || '%'
                    </when>
                </choose>
            </where>
        </if>
        <if test="mId != NULL">
        where m_id = #{mId}
            <choose>
                <when test="searchCondition == 'r_no2'">
                    and rev_no like '%' || #{searchKeyword} || '%'
                </when>
                <when test="searchCondition == 'r_date2'">
                    and rev_date = #{searchKeyword}
                </when>
                <when test="searchCondition == 'r_status2'">
                    and rev_status = #{searchKeyword}
                </when>
                <when test="searchCondition == 'r_meetName2'">
                    and meet_no in (select meet_no
                                    from meeting_room
                                    where meet_name like '%' || #{searchKeyword} || '%')
                </when>
                <when test="searchCondition == 'r_content2'">
                    and rev_content like '%' || #{searchKeyword} || '%'
                </when>
            </choose>
        </if>
    </select>
    
    <select id="searchList" resultMap="meetResrvResultSet">
        select rev_no, rev_date, rev_start_time, rev_end_time, rev_content,
               rev_status, rev_apply_date, meet_no, m_id, meet_name, m_name
        from meet_reservation
             left join member using(m_id)
             left join meeting_room using(meet_no)
        <if test="mId == NULL">
            <where>
                <choose>
                    <when test="searchCondition == 'r_no1'">
                        and rev_no like '%' || #{searchKeyword} || '%'
                    </when>
                    <when test="searchCondition == 'r_date1'">
                        and rev_date = #{searchKeyword}
                    </when>
                    <when test="searchCondition == 'r_status1'">
                        and rev_status = #{searchKeyword}
                    </when>
                    <when test="searchCondition == 'r_meetName1'">
                        and meet_no in (select meet_no
                                        from meeting_room
                                        where meet_name like '%' || #{searchKeyword} || '%')
                    </when>
                    <when test="searchCondition == 'r_mName1'">
                        and m_id in (select m_id
                                     from member
                                     where m_name = #{searchKeyword})
                    </when>
                    <when test="searchCondition == 'r_content1'">
                        and rev_content like '%' || #{searchKeyword} || '%'
                    </when>
                </choose>
            </where>
        </if>
        <if test="mId != NULL">
        where m_id = #{mId}
            <choose>
                <when test="searchCondition == 'r_no2'">
                    and rev_no like '%' || #{searchKeyword} || '%'
                </when>
                <when test="searchCondition == 'r_date2'">
                    and rev_date = #{searchKeyword}
                </when>
                <when test="searchCondition == 'r_status2'">
                    and rev_status = #{searchKeyword}
                </when>
                <when test="searchCondition == 'r_meetName2'">
                    and meet_no in (select meet_no
                                    from meeting_room
                                    where meet_name like '%' || #{searchKeyword} || '%')
                </when>
                <when test="searchCondition == 'r_content2'">
                    and rev_content like '%' || #{searchKeyword} || '%'
                </when>
            </choose>
        </if>
        order by rev_date desc, rev_start_time
    </select>

</mapper>
